@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@1,700&display=swap');
*{
  margin: 0;
  padding: 0;
}
#banner{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Averia Serif Libre', cursive;
  background-image: url('../Images/empty-wooden-table-top-with-blurred-coffee-shop_7188-1337.jpg');
}
#banner div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#banner div h1{
  color:white;
  font-size: 90px;
}
#banner div h2{
  color: white;
  font-size: 40px;
}
#banner div a{
  color: white;
  border-radius: 20px;
  border: 2px solid #ff6f3c;
  width: 80px;
  height: 50px;
  margin-top: 10px;
  background-color: #ff6f3c;
  text-decoration: none;
  outline: none;
  text-align: center;
  box-shadow: 3px 3px orangered;
}
#banner div a i{
  /* color: white; */
  font-size: 30px;
  padding: 5px;
  padding-top: 10px;
}
#banner div a:hover{
  color: #ff6f3c;
  background-color: white;
  box-shadow: 3px 3px #ff6f3c;
}
/* menucontent */
.wrapper{
  width: 1200px;
  margin-left: 160px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.title{
  text-align: center;
  margin-bottom: 60px;
}
.title h4{
  text-transform: capitalize;
  font-size: 36px;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}
.title h4 span{
  display: block;
  font-size: 18px;
  font-style: italic;
  margin-bottom: -10px;
}
.title h4:before{
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  background-color: #ff6f3c;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.single-menu{
  flex-basis: 580px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.single-menu:nth-child(5), .single-menu:nth-child(6){
  border-bottom: 0;
}
.single-menu:hover img{
  border-radius: 0;
}
.single-menu img{
  max-width: 180px;
  margin-right: 30px;
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 3px;
  transition: .5s;
}
.single-menu h4{
  text-transform: capitalize;
  font-size: 22px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #333;
}
.single-menu h4 span{
  color: #ff6f3c;
  float: right;
  font-style: italic;
}
.single-menu div a button{
  color: black;
  border-radius: 20px;
  border: 2px solid #ff6f3c;
  width: 130px;
  height: 40px;
  padding: 5px;
  margin-top: 10px;
  text-decoration: none;
  background-color: white;
  outline: none;
  text-align: center;
}
.single-menu div a button:hover{
  background-color: #ff6f3c;
  color: white;
}
